
.preview {
    margin-top: 100px;
}

.clip {
    background-color: #fff;
    width: 225px;
    height: 626px;
    border: none;
    box-shadow: 0 0 75px hsla(0, 0, 0, .3);

    // clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);

}